In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("wikipedias.csv")

In [7]:
df

,No,Language,Language (local),Wiki,Articles,All pages,Edits,Admins,Users,Active users,Files,Depth
0,1,English,English,en,"7,085,394","64,396,510","1,315,739,516",829,"49,932,265","115,920","952,211","1,336"
1,2,Cebuano,Cebuano,ceb,"6,115,897","11,230,118","36,519,091",7,"133,421",175,3,2
2,3,German,Deutsch,de,"3,066,100","8,411,906","259,348,405",169,"4,799,705","38,742","130,270",93
3,4,French,français,fr,"2,718,476","13,712,452","229,907,583",141,"5,436,542","41,010","77,366",274
4,5,Swedish,svenska,sv,"2,619,400","6,339,529","58,422,053",64,"978,650","5,155",0,18
...,...,...,...,...,...,...,...,...,...,...,...,...
338,339,South Ndebele,isiNdebele seSewula,nr,266,836,"5,712",0,"1,092",16,0,31
339,340,Kalaallisut,kalaallisut,kl,245,"2,290","76,382",3,"15,555",24,0,"2,323"
340,341,West Coast Bajau,Bajau Sama,bdr,236,"1,315","5,493",1,"1,149",13,0,87
341,342,Tigre,ትግሬ,tig,44,478,"6,408",1,"1,051",12,0,"1,304"
342,343,Cree,Nēhiyawēwin / ᓀᐦᐃᔭᐍᐏᐣ,cr,14,"2,342","40,983",2,"22,495",25,0,"483,867"

In [9]:
df.describe()

               No      Admins
count  343.000000  343.000000
mean   172.000000   10.052478
std     99.159804   47.446216
min      1.000000    0.000000
25%     86.500000    1.000000
50%    172.000000    3.000000
75%    257.500000    6.000000
max    343.000000  829.000000

In [11]:
df.isnull().sum()

No                  0
Language            0
Language (local)    0
Wiki                0
Articles            0
All pages           0
Edits               0
Admins              0
Users               0
Active users        0
Files               0
Depth               0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343 entries, 0 to 342
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   No                343 non-null    int64
 1   Language          343 non-null    object
 2   Language (local)  343 non-null    object
 3   Wiki              343 non-null    object
 4   Articles          343 non-null    object
 5   All pages         343 non-null    object
 6   Edits             343 non-null    object
 7   Admins            343 non-null    int64
 8   Users             343 non-null    object
 9   Active users      343 non-null    object
 10  Files             343 non-null    object
 11  Depth             343 non-null    object
dtypes: int64(2), object(10)
memory usage: 32.3+ KB

In [15]:
df

,No,Language,Language (local),Wiki,Articles,All pages,Edits,Admins,Users,Active users,Files,Depth
0,1,English,English,en,"7,085,394","64,396,510","1,315,739,516",829,"49,932,265","115,920","952,211","1,336"
1,2,Cebuano,Cebuano,ceb,"6,115,897","11,230,118","36,519,091",7,"133,421",175,3,2
2,3,German,Deutsch,de,"3,066,100","8,411,906","259,348,405",169,"4,799,705","38,742","130,270",93
3,4,French,français,fr,"2,718,476","13,712,452","229,907,583",141,"5,436,542","41,010","77,366",274
4,5,Swedish,svenska,sv,"2,619,400","6,339,529","58,422,053",64,"978,650","5,155",0,18
...,...,...,...,...,...,...,...,...,...,...,...,...
338,339,South Ndebele,isiNdebele seSewula,nr,266,836,"5,712",0,"1,092",16,0,31
339,340,Kalaallisut,kalaallisut,kl,245,"2,290","76,382",3,"15,555",24,0,"2,323"
340,341,West Coast Bajau,Bajau Sama,bdr,236,"1,315","5,493",1,"1,149",13,0,87
341,342,Tigre,ትግሬ,tig,44,478,"6,408",1,"1,051",12,0,"1,304"
342,343,Cree,Nēhiyawēwin / ᓀᐦᐃᔭᐍᐏᐣ,cr,14,"2,342","40,983",2,"22,495",25,0,"483,867"